[submodule "libprotection/submodules"]
	path = libprotection/submodules
	url = https://github.com/LibProtection/libprotection-common.git
	branch = dev
[submodule "libprotection/submodules/libprotection-common"]
	path = libprotection/submodules/libprotection-common
	url = https://github.com/LibProtection/libprotection-common.git
	branch = dev
